nodered-flow/node-red-airframes-flow.json
[
    {
        "id": "59cf6c9ce7d654ea",
        "type": "tab",
        "label": "Airframes.io Flow",
        "disabled": false,
        "info": "ACARS stream processor.\n\nRequirements:\n  cd ~/.node-red && npm install @airframes/acars-decoder\n  settings.js -> functionExternalModules: true\n\nStatic assets (dashboard.css + dashboard.js) must be placed at:\n  /mnt/ssl/static/dashboard.css\n  /mnt/ssl/static/dashboard.js\n\nOr adjust the file-in paths in the airframes-css-read / airframes-js-read nodes.\n\nFIX: Sub-decoders (libacars, acars-decoder, api) NO longer write directly to\nthe JSONL file. Instead they call 'airframes-merge-and-persist' which deep-merges\nall enrichment fields onto the base record and appends a SINGLE updated line.\nThe events reader merges all lines sharing the same key so no enrichment is lost.",
        "env": []
    },
    {
        "id": "airframes-http-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "POST /airframes",
        "url": "/airframes",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "airframes-json"
            ]
        ]
    },
    {
        "id": "airframes-json",
        "type": "json",
        "z": "59cf6c9ce7d654ea",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "airframes-normalize"
            ]
        ]
    },
    {
        "id": "airframes-normalize",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Normalize, cache and route",
        "func": "const DROP_ACARS_LABELS = ['']; /* _d */\nfunction looksLikeAirframesEvent(v) {\n  return v && typeof v === 'object' && (v.id || v.timestamp || v.station || v.airframe || v.source);\n}\n\nfunction extractEvent(v) {\n  if (!v || typeof v !== 'object') return {};\n  if (looksLikeAirframesEvent(v)) return v;\n  for (const k of ['payload', 'event', 'message', 'data']) {\n    if (looksLikeAirframesEvent(v[k])) return v[k];\n  }\n  return v;\n}\n\nfunction response(payload) {\n  return {\n    req: msg.req,\n    res: msg.res,\n    statusCode: 200,\n    headers: { 'content-type': 'application/json' },\n    payload\n  };\n}\n\n// ── Extract & normalize ────────────────────────────────────────────\nconst envelope = msg.payload || {};\nconst event = extractEvent(envelope);\n\nconst labelRaw = String(event.label || '').trim();\nconst label = labelRaw.toLowerCase();\n\nif (DROP_ACARS_LABELS.includes(label)) {\n  return [null, null,\n    response({ ok: true, dropped: true, reason: 'acars_label', label: event.label, id: event.id }),\n    null, null, null\n  ];\n}\n\nconst flight = event.flight || {};\nconst airframe = event.airframe || {};\nconst station = event.station || {};\nconst now = new Date().toISOString();\n\nconst normalized = {\n  received_at: now,\n  id: event.id,\n  timestamp: event.timestamp || event.created_at || now,\n  station: station.ident,\n  country: station.country_code,\n  flight: flight.flight_iata || flight.flight_icao || flight.flight,\n  airframe_icao: airframe.icao,\n  tail: airframe.tail || event.tail,\n  military: airframe.military,\n  source: event.source,\n  source_type: event.source_type,\n  frequency: event.frequency,\n  label: event.label,\n  mode: event.mode,\n  text: event.text,\n  decoded: event.decoded,\n  libacars: event.libacars,\n  acars_decoded: event.acars_decoded,\n  raw: event\n};\n\n// ── Seed flow cache ────────────────────────────────────────────────\nlet recent = flow.get('airframes_recent') || [];\nconst key = normalized.id || (normalized.timestamp + '-' + normalized.station + '-' + normalized.text);\nrecent = recent.filter(e => {\n  const k = e.id || (e.timestamp + '-' + e.station + '-' + e.text);\n  return k !== key;\n});\nrecent.unshift(normalized);\nrecent = recent.slice(0, 500);\nflow.set('airframes_recent', recent);\n\n// ── Outputs ────────────────────────────────────────────────────────\n// Output 1: Debug\nconst debugMsg = { payload: normalized };\n\n// Output 2: Write base record to JSONL (ONE write per ingested message)\nconst fileMsg = { payload: JSON.stringify(normalized) };\n\n// Output 3: HTTP response\nconst responseMsg = response({ ok: true, id: normalized.id, received_at: normalized.received_at });\n\nconst acarsDecoderMsg = (normalized.label && normalized.text) ? { payload: normalized, normalized } : null;\n\n// Output 6: API lookup (validación estricta ICAO)\nconst apiLookupMsg = (\n  normalized.airframe_icao && /^[A-F0-9]{6}$/i.test(normalized.airframe_icao)\n) ? { payload: normalized, normalized } : null;\n\nreturn [debugMsg, fileMsg, responseMsg, acarsDecoderMsg, apiLookupMsg];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 120,
        "wires": [
            [
                "airframes-debug"
            ],
            [
                "airframes-file"
            ],
            [
                "airframes-response"
            ],
            [
                "airframes-acars-decoder"
            ],
            [
                "airframes-api-auto-fetch"
            ]
        ]
    },
    {
        "id": "airframes-debug",
        "type": "debug",
        "z": "59cf6c9ce7d654ea",
        "name": "Airframes event",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 40,
        "wires": []
    },
    {
        "id": "airframes-file",
        "type": "file",
        "z": "59cf6c9ce7d654ea",
        "name": "Append JSONL",
        "filename": "/mnt/nfs_client/airframes-node-red/acarsdb",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "airframes-response",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "200 OK",
        "statusCode": "",
        "headers": {},
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "airframes-acars-decoder",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "acars-decoder-typescript decode",
        "func": "// FIX: No longer writes to file directly.\n// Calls airframes-merge-and-persist which does a deep-merge append.\n\nconst normalized = msg.normalized || msg.payload || {};\nconst event      = normalized.raw || {};\n\nconst label  = String(normalized.label  || event.label  || '').trim().toUpperCase();\nconst text   = String(normalized.text   || event.text   || '').trim();\nconst tail   = String(normalized.tail   || event.tail   || '').trim();\nconst flight = String(normalized.flight || '').trim();\n\nif (!label || !text) return null;\n\nlet decoded = null;\ntry {\n  const { MessageDecoder } = AcarsDecoder;\n  const decoder = new MessageDecoder();\n  const msgObj = { label, text };\n  if (tail)   msgObj.tail   = tail;\n  if (flight) msgObj.flight = flight;\n  decoded = decoder.decode(msgObj);\n} catch (err) {\n  node.warn('acars-decoder error [' + label + ']: ' + (err.message || String(err)));\n}\n\nif (!decoded) return null;\n\nconst base = msg.normalized || {};\n\n// Update flow cache\nlet recent = flow.get('airframes_recent') || [];\nconst key = base.id || (base.timestamp + '-' + base.station + '-' + base.text);\nconst existing = recent.find(e => {\n  const k = e.id || (e.timestamp + '-' + e.station + '-' + e.text);\n  return k === key;\n});\n\nconst enriched = {\n  ...(existing || base),\n  acars_decoded: {\n    ok: true,\n    label,\n    decoded,\n    decoder: 'acars-decoder-typescript'\n  }\n};\n\nrecent = recent.filter(e => {\n  const k = e.id || (e.timestamp + '-' + e.station + '-' + e.text);\n  return k !== key;\n});\nrecent.unshift(enriched);\nrecent = recent.slice(0, 500);\nflow.set('airframes_recent', recent);\n\n// Pass to merge-and-persist (NOT directly to file)\nreturn { payload: enriched, normalized: enriched };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "AcarsDecoder",
                "module": "@airframes/acars-decoder"
            }
        ],
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "airframes-merge-and-persist"
            ]
        ]
    },
    {
        "id": "airframes-api-auto-fetch",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Auto-fetch airframes API on arrival",
        "func": "const normalized = msg.normalized || msg.payload || {};\nconst icao = String(normalized.airframe_icao || '').trim().toUpperCase();\n\nif (!icao || !/^[A-F0-9]{6}$/.test(icao)) return null;\n\nmsg.url       = 'https://api.airframes.io/airframes/icao/' + encodeURIComponent(icao);\nmsg.method    = 'GET';\nmsg.headers   = { accept: 'application/json' };\nmsg.normalized = normalized;\nmsg.icao       = icao;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "airframes-api-auto-request"
            ]
        ]
    },
    {
        "id": "airframes-api-auto-request",
        "type": "http request",
        "z": "59cf6c9ce7d654ea",
        "name": "Fetch api.airframes.io (auto)",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1440,
        "y": 320,
        "wires": [
            [
                "airframes-api-auto-enrich"
            ]
        ]
    },
    {
        "id": "airframes-api-auto-enrich",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Enrich event with API data & persist",
        "func": "// FIX: No longer writes to file directly.\n// Calls airframes-merge-and-persist which does a deep-merge append.\n\nconst normalized = msg.normalized || {};\nconst icao    = msg.icao || normalized.airframe_icao;\nconst base    = msg.normalized || {};\nconst apiData = msg.payload || {};\n\n// Update flow cache\nlet recent = flow.get('airframes_recent') || [];\nconst key = base.id || (base.timestamp + '-' + base.station + '-' + base.text);\nconst existing = recent.find(e => {\n  const k = e.id || (e.timestamp + '-' + e.station + '-' + e.text);\n  return k === key;\n});\n\nconst enriched = {\n  ...(existing || base),\n  airframes_api: {\n    ...apiData,\n    icao,\n    fetched_at: new Date().toISOString(),\n    ok: msg.statusCode < 400\n  }\n};\n\nrecent = recent.filter(e => {\n  const k = e.id || (e.timestamp + '-' + e.station + '-' + e.text);\n  return k !== key;\n});\nrecent.unshift(enriched);\nrecent = recent.slice(0, 500);\nflow.set('airframes_recent', recent);\n\n// Pass to merge-and-persist (NOT directly to file)\nreturn { payload: enriched, normalized: enriched };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 320,
        "wires": [
            [
                "airframes-merge-and-persist",
                "airframes-debug"
            ]
        ]
    },
    {
        "id": "airframes-merge-and-persist",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Merge enrichment & append to JSONL",
        "func": "// ─────────────────────────────────────────────────────────────────\n// MERGE-AND-PERSIST\n// Called by: libacars-parse, acars-decoder, api-auto-enrich\n//\n// Purpose: append an \"enrichment patch\" line to the JSONL file.\n// The Build-events reader will deep-merge all lines sharing the\n// same key, so no decoder output is ever overwritten.\n//\n// Each line written here is a partial record that contains:\n//   _key        – dedup key (id or timestamp-station-text)\n//   _patch_type – which decoder produced this line ('libacars' | 'acars' | 'api')\n//   <enrichment field> – only the new data (libacars / acars_decoded / airframes_api)\n//\n// The base record (all normalized fields) is already written by\n// the normalize node → airframes-file, so we only persist the delta.\n// ─────────────────────────────────────────────────────────────────\n\nconst enriched = msg.normalized || msg.payload || {};\n\nconst key = enriched.id ||\n  (enriched.timestamp + '-' + enriched.station + '-' + enriched.text);\n\n// Determine which new field is present and build a minimal patch\nlet patchType = 'unknown';\nconst patch = { _key: key, _patch: true };\n\nif (enriched.libacars) {\n  patchType = 'libacars';\n  patch.libacars = enriched.libacars;\n}\nif (enriched.acars_decoded) {\n  patchType = patchType === 'unknown' ? 'acars' : patchType + '+acars';\n  patch.acars_decoded = enriched.acars_decoded;\n}\nif (enriched.airframes_api) {\n  patchType = patchType === 'unknown' ? 'api' : patchType + '+api';\n  patch.airframes_api = enriched.airframes_api;\n}\n\n// Only write if there is something to persist\nif (patchType === 'unknown') return null;\n\npatch._patch_type = patchType;\n\nreturn { payload: JSON.stringify(patch) };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 80,
        "wires": [
            [
                "airframes-file"
            ]
        ]
    },
    {
        "id": "airframes-css-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes-static/dashboard.css",
        "url": "/airframes-static/dashboard.css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "airframes-css-read"
            ]
        ]
    },
    {
        "id": "airframes-css-read",
        "type": "file in",
        "z": "59cf6c9ce7d654ea",
        "name": "Read CSS",
        "filename": "/mnt/nfs_client/airframes-node-red/static/dashboard.css",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "airframes-css-resp"
            ]
        ]
    },
    {
        "id": "airframes-css-resp",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "CSS response",
        "statusCode": "200",
        "headers": {
            "content-type": "text/css; charset=utf-8",
            "cache-control": "public, max-age=300"
        },
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "airframes-js-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes-static/dashboard.js",
        "url": "/airframes-static/dashboard.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "airframes-js-read"
            ]
        ]
    },
    {
        "id": "airframes-js-read",
        "type": "file in",
        "z": "59cf6c9ce7d654ea",
        "name": "Read JS",
        "filename": "/mnt/nfs_client/airframes-node-red/static/dashboard.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 660,
        "y": 520,
        "wires": [
            [
                "airframes-js-resp"
            ]
        ]
    },
    {
        "id": "airframes-js-resp",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "JS response",
        "statusCode": "200",
        "headers": {
            "content-type": "application/javascript; charset=utf-8",
            "cache-control": "public, max-age=300"
        },
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "airframes-dashboard-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes-dashboard",
        "url": "airframes-dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 580,
        "wires": [
            [
                "cf4b8a4c1c05482a"
            ]
        ]
    },
    {
        "id": "airframes-dashboard-response",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "Dashboard response",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html; charset=utf-8",
            "cache-control": "public, max-age=300"
        },
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "airframes-events-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes/events",
        "url": "/airframes/events",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "airframes-file-in"
            ]
        ]
    },
    {
        "id": "airframes-file-in",
        "type": "file in",
        "z": "59cf6c9ce7d654ea",
        "name": "Read JSONL",
        "filename": "/mnt/nfs_client/airframes-node-red/acarsdb",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "airframes-events-build"
            ]
        ]
    },
    {
        "id": "airframes-events-build",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Build events JSON",
        "func": "// ─────────────────────────────────────────────────────────────────\n// BUILD EVENTS JSON  (deep-merge strategy)\n//\n// The JSONL file now contains two kinds of lines:\n//   1. Base records   – written by normalize (no _patch field)\n//   2. Patch records  – written by merge-and-persist (_patch: true)\n//\n// We read ALL lines, group by key, then deep-merge base + all patches\n// in arrival order so no enrichment field is ever lost.\n// ─────────────────────────────────────────────────────────────────\n\nfunction normalizeRecord(record) {\n  if (!record || typeof record !== 'object') return null;\n  // Already normalized shape\n  if (record.raw || record.received_at || record.airframe_icao) return record;\n\n  // Legacy shape from older code (nested flight/airframe/station)\n  const flight   = record.flight   || {};\n  const airframe = record.airframe || {};\n  const station  = record.station  || {};\n\n  return {\n    received_at:   record.received_at,\n    id:            record.id,\n    timestamp:     record.timestamp || record.created_at,\n    station:       station.ident,\n    country:       station.country_code,\n    flight:        flight.flight_iata || flight.flight_icao || flight.flight,\n    airframe_icao: airframe.icao,\n    tail:          airframe.tail || record.tail,\n    military:      airframe.military,\n    source:        record.source,\n    source_type:   record.source_type,\n    frequency:     record.frequency,\n    label:         record.label,\n    mode:          record.mode,\n    text:          record.text,\n    raw:           record\n  };\n}\n\nfunction recordKey(r) {\n  return r.id || (r.timestamp + '-' + r.station + '-' + r.text);\n}\n\nconst limit = Math.max(\n  1,\n  Math.min(parseInt(msg.req?.query?.limit || '100', 10) || 100, 2000)\n);\n\nconst lines = String(msg.payload || '')\n  .split(/\\r?\\n/)\n  .filter(Boolean);\n\n// Pass 1 – collect all records in file order\nconst bases   = new Map();   // key → base record\nconst patches = new Map();   // key → array of patch objects\n\nfor (const line of lines) {\n  try {\n    const parsed = JSON.parse(line);\n    if (!parsed || typeof parsed !== 'object') continue;\n\n    if (parsed._patch) {\n      // Patch line – store by _key\n      const k = parsed._key;\n      if (!k) continue;\n      if (!patches.has(k)) patches.set(k, []);\n      patches.get(k).push(parsed);\n    } else {\n      // Base line\n      const norm = normalizeRecord(parsed);\n      if (!norm) continue;\n      const k = recordKey(norm);\n      // Later base lines overwrite earlier ones (re-ingestion edge case)\n      bases.set(k, norm);\n    }\n  } catch (_) {\n    // ignore corrupt lines\n  }\n}\n\n// Pass 2 – merge patches onto bases and collect latest `limit` keys\n// We want the most-recent `limit` unique keys. Since bases is a Map\n// (insertion-order), iterate it in reverse.\nconst baseKeys  = [...bases.keys()];\nconst selected  = baseKeys.slice(-limit).reverse(); // newest first\n\nconst results = [];\nfor (const k of selected) {\n  const base   = bases.get(k);\n  const pList  = patches.get(k) || [];\n\n  // Deep merge: apply patches in order\n  let merged = { ...base };\n  for (const p of pList) {\n    if (p.libacars)      merged.libacars      = p.libacars;\n    if (p.acars_decoded) merged.acars_decoded = p.acars_decoded;\n    if (p.airframes_api) merged.airframes_api = p.airframes_api;\n  }\n  results.push(merged);\n}\n\nmsg.headers = {\n  'content-type': 'application/json; charset=utf-8',\n  'cache-control': 'no-store'\n};\nmsg.payload = JSON.stringify(results);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 700,
        "wires": [
            [
                "airframes-events-response"
            ]
        ]
    },
    {
        "id": "airframes-events-response",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "Events response",
        "statusCode": "200",
        "headers": {},
        "x": 1150,
        "y": 700,
        "wires": []
    },
    {
        "id": "airframes-stats-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes/stats",
        "url": "/airframes/stats",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "airframes-stats-file-in"
            ]
        ]
    },
    {
        "id": "airframes-stats-file-in",
        "type": "file in",
        "z": "59cf6c9ce7d654ea",
        "name": "Read ACARS stats file",
        "filename": "/mnt/nfs_client/airframes-node-red/acarsdb",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 760,
        "wires": [
            [
                "airframes-stats-build"
            ]
        ]
    },
    {
        "id": "airframes-stats-build",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Build ACARS stats",
        "func": "// FIX: stats now account for base + patch lines separately.\n// Patch lines (_patch:true) are NOT counted as messages but DO\n// contribute to the decoded/api counters.\n\nconst content = String(msg.payload||'');\nconst lines   = content.split(/\\r?\\n/).filter(l => l.trim());\n\nlet validJson = 0, invalidJson = 0;\nlet acarsDecodedCount = 0, libacarsDecodedCount = 0, apiCachedCount = 0;\nconst byLabel = {}, bySource = {};\nlet latestTimestamp = null, earliestTimestamp = null;\n\n// Track which keys already have each enrichment (avoid double-counting\n// if there are multiple patch lines for the same key)\nconst seenAcars    = new Set();\nconst seenLibacars = new Set();\nconst seenApi      = new Set();\n\nfor (const line of lines) {\n  try {\n    const event = JSON.parse(line);\n    validJson++;\n\n    if (event._patch) {\n      // Patch line – only update enrichment counters\n      const k = event._key || '__unknown__';\n      if (event.acars_decoded?.ok  && !seenAcars.has(k))    { acarsDecodedCount++;    seenAcars.add(k); }\n      if (event.libacars?.ok       && !seenLibacars.has(k)) { libacarsDecodedCount++; seenLibacars.add(k); }\n      if (event.airframes_api      && !seenApi.has(k))      { apiCachedCount++;       seenApi.add(k); }\n      continue;\n    }\n\n    // Base line\n    const label     = event.label     || event.raw?.label     || 'unknown';\n    const source    = event.source    || event.raw?.source    || 'unknown';\n    const timestamp = event.timestamp || event.raw?.timestamp;\n\n    // Enrich counters on base lines too (older files pre-patch-strategy)\n    const k = event.id || (event.timestamp + '-' + event.station + '-' + event.text);\n    if (event.acars_decoded?.ok  && !seenAcars.has(k))    { acarsDecodedCount++;    seenAcars.add(k); }\n    if (event.libacars?.ok       && !seenLibacars.has(k)) { libacarsDecodedCount++; seenLibacars.add(k); }\n    if (event.airframes_api      && !seenApi.has(k))      { apiCachedCount++;       seenApi.add(k); }\n\n    byLabel[label]   = (byLabel[label]  || 0) + 1;\n    bySource[source] = (bySource[source]|| 0) + 1;\n\n    if (timestamp) {\n      if (!latestTimestamp   || timestamp > latestTimestamp)   latestTimestamp   = timestamp;\n      if (!earliestTimestamp || timestamp < earliestTimestamp) earliestTimestamp = timestamp;\n    }\n  } catch (_) { invalidJson++; }\n}\n\nmsg.headers = { 'content-type':'application/json; charset=utf-8', 'cache-control':'no-store' };\nmsg.payload = JSON.stringify({\n  file:                  '/mnt/nfs_client/airframes-node-red/acarsdb',\n  messages:             validJson - (seenAcars.size + seenLibacars.size + seenApi.size - Object.keys(byLabel).reduce((a,k)=>a+byLabel[k],0) < 0 ? 0 : 0),\n  // simple: count only base lines\n  base_lines:           Object.values(byLabel).reduce((a, v) => a + v, 0),\n  patch_lines:          validJson - Object.values(byLabel).reduce((a, v) => a + v, 0),\n  valid_json:           validJson,\n  invalid_json:         invalidJson,\n  acars_decoded_count:  acarsDecodedCount,\n  libacars_decoded_count: libacarsDecodedCount,\n  api_cached_count:     apiCachedCount,\n  earliest_timestamp:   earliestTimestamp,\n  latest_timestamp:     latestTimestamp,\n  by_label:             byLabel,\n  by_source:            bySource\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 760,
        "wires": [
            [
                "airframes-stats-response"
            ]
        ]
    },
    {
        "id": "airframes-stats-response",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "Stats response",
        "statusCode": "200",
        "headers": {},
        "x": 1140,
        "y": 760,
        "wires": []
    },
    {
        "id": "airframes-stats-page-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes-stats",
        "url": "/airframes-stats",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "airframes-stats-page-template"
            ]
        ]
    },
    {
        "id": "airframes-stats-page-template",
        "type": "template",
        "z": "59cf6c9ce7d654ea",
        "name": "Stats page HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <meta name=\"theme-color\" content=\"#0d1117\">\n  <title>airframes stats</title>\n  <link rel=\"stylesheet\" href=\"/airframes-static/dashboard.css\">\n  <style>\n    .hero{margin-bottom:16px;padding:18px 20px;background:linear-gradient(135deg,rgba(21,27,35,.96),rgba(27,36,48,.9));border:1px solid var(--line);border-radius:var(--radius-lg);box-shadow:var(--shadow)}\n    h1{margin:0;font-size:20px;font-weight:650}\n    .sub{margin:6px 0 0;color:var(--muted)}\n    .grid{display:grid;grid-template-columns:repeat(4,minmax(120px,1fr));gap:10px;margin-bottom:12px}\n    .card{min-width:0;padding:13px;background:var(--surface);border:1px solid var(--line);border-radius:var(--radius-md)}\n    .card span{display:block;color:var(--muted);font-size:11px;letter-spacing:.08em;text-transform:uppercase}\n    .card b{display:block;margin-top:5px;color:#f4f7fa;font-size:21px;font-weight:650;overflow-wrap:anywhere}\n    .panel{background:var(--surface);border:1px solid var(--line);border-radius:var(--radius-lg);box-shadow:var(--shadow);overflow:hidden;margin-top:12px}\n    .panel h2{margin:0;padding:12px 14px;background:var(--head);font-size:13px;letter-spacing:.06em;text-transform:uppercase}\n    table{width:100%;border-collapse:collapse}\n    th,td{padding:9px 13px;border-bottom:1px solid rgba(43,55,71,.5);text-align:left;font-size:13px}\n    th{color:#c9d4df;font-size:11px;text-transform:uppercase;letter-spacing:.06em}\n    td:last-child,th:last-child{text-align:right}\n    .status-ok{color:var(--muted)}.error{color:var(--gold)}\n    @media(max-width:768px){.grid{grid-template-columns:repeat(2,1fr)}}\n  </style>\n</head>\n<body>\n<header class=\"topbar\">\n  <a class=\"brand\" href=\"/airframes-dashboard\">\n    <span class=\"menu-btn\" aria-label=\"Dashboard\">&#8592;</span>\n    <span>airframes &mdash; stats</span>\n  </a>\n  <div class=\"clock\" id=\"clock\"></div>\n</header>\n<main>\n  <section class=\"hero\">\n    <h1>stored ACARS message stats</h1>\n    <p class=\"sub\">Counts from /mnt/ssl/acars &middot; refreshes every 10 s</p>\n  </section>\n  <section class=\"grid\">\n    <div class=\"card\"><span>messages</span><b id=\"messages\">-</b></div>\n    <div class=\"card\"><span>valid JSON</span><b id=\"validJson\">-</b></div>\n    <div class=\"card\"><span>patch lines</span><b id=\"patchLines\">-</b></div>\n    <div class=\"card\"><span>status</span><b id=\"status\">loading</b></div>\n  </section>\n  <section class=\"grid\">\n    <div class=\"card\"><span>earliest</span><b id=\"earliest\">-</b></div>\n    <div class=\"card\"><span>latest</span><b id=\"latest\">-</b></div>\n    <div class=\"card\"><span>TS decoded</span><b id=\"acarsDecoded\">-</b></div>\n    <div class=\"card\"><span>LA decoded</span><b id=\"libacarsDecoded\">-</b></div>\n  </section>\n  <section class=\"grid\">\n    <div class=\"card\"><span>API cached</span><b id=\"apiCached\">-</b></div>\n    <div class=\"card\"><span>labels</span><b id=\"labelCount\">-</b></div>\n    <div class=\"card\"><span>sources</span><b id=\"sourceCount\">-</b></div>\n  </section>\n  <section class=\"panel\"><h2>by label</h2><table><thead><tr><th>label</th><th>messages</th></tr></thead><tbody id=\"labelRows\"></tbody></table></section>\n  <section class=\"panel\"><h2>by source</h2><table><thead><tr><th>source</th><th>messages</th></tr></thead><tbody id=\"sourceRows\"></tbody></table></section>\n  <p class=\"status-ok\" id=\"updated\"></p>\n</main>\n<script>\n  const fmt=new Intl.NumberFormat();\n  function esc(v){return String(v??'').replace(/[&<>\"']/g,c=>({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]));}\n  function setText(id,v){const el=document.getElementById(id);if(el)el.textContent=v??'-';}\n  function rowsFrom(obj){return Object.entries(obj||{}).sort((a,b)=>b[1]-a[1]||String(a[0]).localeCompare(String(b[0]))).map(([k,c])=>`<tr><td>${esc(k)}</td><td>${fmt.format(c)}</td></tr>`).join('');}\n  async function loadStats(){\n    try{\n      const r=await fetch('/airframes/stats',{cache:'no-store'});\n      if(!r.ok)throw new Error(r.status+' '+r.statusText);\n      const s=await r.json();\n      setText('messages',fmt.format(s.base_lines));\n      setText('validJson',fmt.format(s.valid_json));\n      setText('patchLines',fmt.format(s.patch_lines));\n      setText('earliest',s.earliest_timestamp||'-');\n      setText('latest',s.latest_timestamp||'-');\n      setText('acarsDecoded',fmt.format(s.acars_decoded_count||0));\n      setText('libacarsDecoded',fmt.format(s.libacars_decoded_count||0));\n      setText('apiCached',fmt.format(s.api_cached_count||0));\n      setText('labelCount',Object.keys(s.by_label||{}).length);\n      setText('sourceCount',Object.keys(s.by_source||{}).length);\n      document.getElementById('labelRows').innerHTML=rowsFrom(s.by_label);\n      document.getElementById('sourceRows').innerHTML=rowsFrom(s.by_source);\n      setText('status','live');\n      document.getElementById('status').className='status-ok';\n      document.getElementById('updated').textContent='updated '+new Date().toISOString();\n    }catch(err){\n      setText('status','error');\n      document.getElementById('status').className='error';\n      document.getElementById('updated').textContent=String(err.message||err);\n    }\n  }\n  function tick(){const n=new Date();document.getElementById('clock').textContent='UTC '+n.toISOString().replace('T',' ').slice(11,19)+' '+n.toISOString().slice(0,10);}\n  setInterval(loadStats,10000);\n  setInterval(tick,1000);\n  tick();loadStats();\n</script>\n</body>\n</html>",
        "output": "str",
        "x": 670,
        "y": 640,
        "wires": [
            [
                "airframes-stats-page-response"
            ]
        ]
    },
    {
        "id": "airframes-stats-page-response",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "Stats page response",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html; charset=utf-8"
        },
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "cf4b8a4c1c05482a",
        "type": "file in",
        "z": "59cf6c9ce7d654ea",
        "name": "Read HTML",
        "filename": "/mnt/nfs_client/airframes-node-red/static/dashboard.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "airframes-dashboard-response"
            ]
        ]
    },
    {
        "id": "airframes-api-icao-in",
        "type": "http in",
        "z": "59cf6c9ce7d654ea",
        "name": "GET /airframes/api/icao/:icao",
        "url": "/airframes/api/icao/:icao",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 920,
        "wires": [
            [
                "airframes-api-icao-build",
                "airframes-api-debug"
            ]
        ]
    },
    {
        "id": "airframes-api-icao-build",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Build airframes API request",
        "func": "const icao = String(msg.req?.params?.icao||'').trim().toUpperCase();\nif (!/^[A-F0-9]{6}$/.test(icao)) {\n  msg.statusCode = 400;\n  msg.headers    = { 'content-type':'application/json; charset=utf-8' };\n  msg.payload    = { error:'invalid_icao', icao };\n  return [null, msg];\n}\nmsg.url = 'https://api.airframes.io/airframes/icao/' + encodeURIComponent(icao);\nmsg.method  = 'GET';\nmsg.headers = { 'accept':'application/json; x-api-key: ' };\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 920,
        "wires": [
            [
                "airframes-api-icao-request",
                "airframes-api-debug"
            ],
            [
                "airframes-api-icao-response"
            ]
        ]
    },
    {
        "id": "airframes-api-icao-request",
        "type": "http request",
        "z": "59cf6c9ce7d654ea",
        "name": " ICAO lookup request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 920,
        "wires": [
            [
                "airframes-api-icao-format"
            ]
        ]
    },
    {
        "id": "airframes-api-icao-format",
        "type": "function",
        "z": "59cf6c9ce7d654ea",
        "name": "Format API response",
        "func": "msg.headers = { 'content-type':'application/json; charset=utf-8', 'cache-control':'no-store' };\nif (msg.statusCode && msg.statusCode >= 400) {\n  msg.payload = { error:'airframes_api_error', statusCode:msg.statusCode, response:msg.payload };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 920,
        "wires": [
            [
                "airframes-api-icao-response",
                "airframes-api-debug"
            ]
        ]
    },
    {
        "id": "airframes-api-icao-response",
        "type": "http response",
        "z": "59cf6c9ce7d654ea",
        "name": "Airframe API response",
        "statusCode": "",
        "headers": {},
        "x": 1300,
        "y": 1000,
        "wires": []
    },
    {
        "id": "airframes-api-debug",
        "type": "debug",
        "z": "59cf6c9ce7d654ea",
        "name": "ICAO lookup API request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 860,
        "wires": []
    }
]