node-red-airframes-flow.json
[
  {
    "id": "airframes-tab",
    "type": "tab",
    "label": "Airframes Stream",
    "disabled": false,
    "info": "Receives JSON events from socket_client.py via HTTP POST /airframes. Dashboard: https://orange.prefix64.org:1880/airframes-dashboard"
  },
  {
    "id": "airframes-http-in",
    "type": "http in",
    "z": "airframes-tab",
    "name": "POST /airframes",
    "url": "/airframes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 90,
    "wires": [
      [
        "airframes-json"
      ]
    ]
  },
  {
    "id": "airframes-json",
    "type": "json",
    "z": "airframes-tab",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 320,
    "y": 90,
    "wires": [
      [
        "airframes-normalize"
      ]
    ]
  },
  {
    "id": "airframes-normalize",
    "type": "function",
    "z": "airframes-tab",
    "name": "Normalize, cache and route",
    "func": "function looksLikeAirframesEvent(value) {\n    return value && typeof value === \"object\" && (\n        value.id || value.timestamp || value.station || value.airframe || value.source\n    );\n}\n\nfunction extractEvent(value) {\n    if (!value || typeof value !== \"object\") {\n        return {};\n    }\n\n    if (looksLikeAirframesEvent(value)) {\n        return value;\n    }\n\n    for (const key of [\"payload\", \"event\", \"message\", \"data\"]) {\n        if (looksLikeAirframesEvent(value[key])) {\n            return value[key];\n        }\n    }\n\n    return value;\n}\n\nconst envelope = msg.payload || {};\nconst event = extractEvent(envelope);\nconst flight = event.flight || {};\nconst airframe = event.airframe || {};\nconst station = event.station || {};\nconst now = new Date().toISOString();\n\nconst normalized = {\n    received_at: now,\n    id: event.id,\n    timestamp: event.timestamp || event.created_at || now,\n    station: station.ident,\n    country: station.country_code,\n    flight: flight.flight_iata || flight.flight_icao || flight.flight,\n    airframe_icao: airframe.icao,\n    tail: airframe.tail || event.tail,\n    military: airframe.military,\n    source: event.source,\n    source_type: event.source_type,\n    frequency: event.frequency,\n    label: event.label,\n    mode: event.mode,\n    text: event.text,\n    raw: event\n};\n\nlet recent = flow.get(\"airframes_recent\") || [];\nrecent.unshift(normalized);\nrecent = recent.slice(0, 500);\nflow.set(\"airframes_recent\", recent);\n\nconst debugMsg = { payload: normalized };\nconst fileMsg = { payload: JSON.stringify(normalized) };\nconst responseMsg = {\n    req: msg.req,\n    res: msg.res,\n    statusCode: 200,\n    headers: { \"content-type\": \"application/json\" },\n    payload: { ok: true, id: normalized.id, received_at: normalized.received_at }\n};\n\nreturn [debugMsg, fileMsg, responseMsg];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 90,
    "wires": [
      [
        "airframes-debug"
      ],
      [
        "airframes-file"
      ],
      [
        "airframes-response"
      ]
    ]
  },
  {
    "id": "airframes-debug",
    "type": "debug",
    "z": "airframes-tab",
    "name": "Airframes event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 40,
    "wires": []
  },
  {
    "id": "airframes-file",
    "type": "file",
    "z": "airframes-tab",
    "name": "Append JSONL",
    "filename": "/mnt/ssl/acars",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 840,
    "y": 90,
    "wires": [
      []
    ]
  },
  {
    "id": "airframes-response",
    "type": "http response",
    "z": "airframes-tab",
    "name": "200 OK",
    "statusCode": "",
    "headers": {},
    "x": 820,
    "y": 140,
    "wires": []
  },
  {
    "id": "airframes-dashboard-in",
    "type": "http in",
    "z": "airframes-tab",
    "name": "GET /airframes-dashboard",
    "url": "/airframes-dashboard",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 250,
    "wires": [
      [
        "airframes-dashboard-template"
      ]
    ]
  },
  {
    "id": "airframes-dashboard-template",
    "type": "template",
    "z": "airframes-tab",
    "name": "Dashboard HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <title>airframes stream</title>\n    <style>\n      :root {\n        --bg: #0d1117;\n        --surface: #151b23;\n        --surface-2: #1b2430;\n        --surface-3: #202b38;\n        --row: #121922;\n        --row2: #16202b;\n        --head: #243140;\n        --line: #2b3747;\n        --text: #e7edf4;\n        --muted: #93a0ad;\n        --accent: #8fa9c8;\n        --accent-2: #c0a36b;\n        --danger: #a66565;\n        --shadow: 0 20px 50px rgba(0, 0, 0, 0.28);\n      }\n      * {\n        box-sizing: border-box;\n      }\n      body {\n        margin: 0;\n        background:\n          radial-gradient(circle at top left, rgba(143, 169, 200, 0.08), transparent 32rem),\n          linear-gradient(180deg, #0d1117 0%, #0a0d12 100%);\n        color: var(--text);\n        font:\n          15px/1.35 ui-monospace,\n          SFMono-Regular,\n          Menlo,\n          Consolas,\n          \"Liberation Mono\",\n          monospace;\n      }\n      .topbar {\n        height: 58px;\n        background: rgba(15, 21, 29, 0.96);\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        padding: 0 24px;\n        border-bottom: 1px solid var(--line);\n        white-space: nowrap;\n        overflow: hidden;\n        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03);\n      }\n      .brand {\n        display: flex;\n        align-items: center;\n        gap: 14px;\n        color: #f2f5f8;\n        font-size: 16px;\n        font-weight: 650;\n        letter-spacing: 0.02em;\n      }\n      .menu {\n        width: 34px;\n        height: 34px;\n        border: 1px solid var(--line);\n        border-radius: 10px;\n        display: inline-grid;\n        place-items: center;\n        background: var(--surface);\n        color: var(--accent);\n        font-size: 20px;\n        line-height: 1;\n      }\n      .clock {\n        color: var(--muted);\n        font-size: 14px;\n      }\n      main {\n        width: min(1560px, calc(100vw - 32px));\n        margin: 0 auto;\n        padding: 22px 0 34px;\n      }\n      h1 {\n        margin: 0 0 16px;\n        padding: 18px 20px;\n        background: linear-gradient(135deg, rgba(21, 27, 35, 0.96), rgba(27, 36, 48, 0.9));\n        border: 1px solid var(--line);\n        border-radius: 18px;\n        box-shadow: var(--shadow);\n        color: #f7f9fb;\n        font-size: 19px;\n        font-weight: 650;\n        letter-spacing: 0.01em;\n      }\n      .stats {\n        display: grid;\n        grid-template-columns: repeat(4, minmax(130px, 1fr));\n        gap: 10px;\n        margin: 0 0 12px;\n      }\n      .stat {\n        background: var(--surface);\n        border: 1px solid var(--line);\n        border-radius: 14px;\n        padding: 12px 14px;\n        min-width: 0;\n      }\n      .stat b {\n        display: block;\n        color: #f4f7fa;\n        font-size: 20px;\n        font-weight: 650;\n      }\n      .stat span {\n        color: var(--muted);\n        font-size: 12px;\n        text-transform: uppercase;\n        letter-spacing: 0.08em;\n      }\n      .controls {\n        display: flex;\n        gap: 10px;\n        flex-wrap: wrap;\n        margin: 0 0 14px;\n        padding: 12px;\n        background: rgba(21, 27, 35, 0.78);\n        border: 1px solid var(--line);\n        border-radius: 16px;\n      }\n      .controls input,\n      .controls select {\n        background: #0f151d;\n        color: var(--text);\n        border: 1px solid var(--line);\n        border-radius: 10px;\n        padding: 9px 11px;\n        font: inherit;\n        outline: none;\n      }\n      .controls input:focus,\n      .controls select:focus {\n        border-color: var(--accent);\n        box-shadow: 0 0 0 3px rgba(143, 169, 200, 0.12);\n      }\n      .table-wrap {\n        width: 100%;\n        overflow: auto;\n        background: var(--surface);\n        border: 1px solid var(--line);\n        border-radius: 18px;\n        box-shadow: var(--shadow);\n      }\n      table {\n        width: 100%;\n        border-collapse: collapse;\n        min-width: 1040px;\n      }\n      thead th {\n        background: var(--head);\n        color: #c9d4df;\n        text-align: left;\n        padding: 9px 12px;\n        border-bottom: 1px solid var(--line);\n        font-size: 12px;\n        font-weight: 650;\n        letter-spacing: 0.06em;\n        text-transform: uppercase;\n        position: sticky;\n        top: 0;\n        z-index: 2;\n      }\n      tbody tr:nth-child(odd) {\n        background: var(--row);\n      }\n      tbody tr:nth-child(even) {\n        background: var(--row2);\n      }\n      td {\n        padding: 10px 12px;\n        border-bottom: 1px solid rgba(43, 55, 71, 0.55);\n        vertical-align: top;\n        white-space: nowrap;\n      }\n      td.text {\n        white-space: normal;\n        min-width: 320px;\n        max-width: 520px;\n      }\n      .detail-btn {\n        background: transparent;\n        color: var(--accent);\n        border: 1px solid rgba(143, 169, 200, 0.42);\n        border-radius: 999px;\n        padding: 4px 9px;\n        font: inherit;\n        font-size: 12px;\n        cursor: pointer;\n      }\n      .detail-btn:hover,\n      .detail-btn:focus {\n        background: rgba(143, 169, 200, 0.12);\n        outline: none;\n      }\n      a {\n        color: var(--accent);\n      }\n      .badge {\n        color: #211807;\n        background: var(--accent-2);\n        padding: 2px 7px;\n        border-radius: 999px;\n        font-size: 12px;\n        font-weight: 700;\n      }\n      .badge.y {\n        color: #fff;\n        background: var(--danger);\n      }\n      .muted {\n        color: var(--muted);\n      }\n      .detail-overlay {\n        position: fixed;\n        inset: 0;\n        z-index: 10;\n        display: none;\n        background: rgba(4, 7, 11, 0.62);\n        backdrop-filter: blur(4px);\n      }\n      .detail-overlay.open {\n        display: block;\n      }\n      .detail-panel {\n        position: absolute;\n        top: 0;\n        right: 0;\n        width: min(760px, 100vw);\n        height: 100%;\n        overflow: auto;\n        background: #101720;\n        border-left: 1px solid var(--line);\n        box-shadow: -24px 0 60px rgba(0, 0, 0, 0.35);\n      }\n      .detail-head {\n        position: sticky;\n        top: 0;\n        z-index: 2;\n        display: flex;\n        align-items: flex-start;\n        justify-content: space-between;\n        gap: 16px;\n        padding: 18px 20px;\n        background: rgba(16, 23, 32, 0.96);\n        border-bottom: 1px solid var(--line);\n      }\n      .detail-title {\n        margin: 0;\n        color: #f7f9fb;\n        font-size: 18px;\n      }\n      .detail-subtitle {\n        margin: 4px 0 0;\n        color: var(--muted);\n        font-size: 13px;\n      }\n      .close-btn {\n        width: 34px;\n        height: 34px;\n        border: 1px solid var(--line);\n        border-radius: 10px;\n        background: var(--surface);\n        color: var(--text);\n        cursor: pointer;\n        font: inherit;\n      }\n      .detail-body {\n        padding: 18px 20px 28px;\n      }\n      .detail-grid {\n        display: grid;\n        grid-template-columns: repeat(2, minmax(0, 1fr));\n        gap: 10px;\n        margin-bottom: 16px;\n      }\n      .detail-field {\n        min-width: 0;\n        padding: 10px 12px;\n        background: var(--surface);\n        border: 1px solid var(--line);\n        border-radius: 12px;\n      }\n      .detail-field span {\n        display: block;\n        color: var(--muted);\n        font-size: 11px;\n        letter-spacing: 0.08em;\n        text-transform: uppercase;\n      }\n      .detail-field b {\n        display: block;\n        margin-top: 4px;\n        overflow-wrap: anywhere;\n        color: var(--text);\n        font-weight: 600;\n      }\n      .detail-section {\n        margin-top: 16px;\n      }\n      .detail-section h3 {\n        margin: 0 0 8px;\n        color: #f2f5f8;\n        font-size: 14px;\n        letter-spacing: 0.05em;\n        text-transform: uppercase;\n      }\n      .message-text,\n      .json-view {\n        margin: 0;\n        padding: 14px;\n        overflow: auto;\n        background: #0b1017;\n        border: 1px solid var(--line);\n        border-radius: 12px;\n        color: #dce6ef;\n        white-space: pre-wrap;\n      }\n      .json-view {\n        max-height: 42vh;\n        font-size: 12px;\n      }\n      @media (max-width: 900px) {\n        main {\n          width: min(100vw - 20px, 1560px);\n          padding: 12px 0 20px;\n        }\n        .topbar {\n          height: 54px;\n          padding: 0 12px;\n        }\n        .clock {\n          display: none;\n        }\n        table {\n          min-width: 900px;\n          font-size: 13px;\n        }\n        .stats {\n          grid-template-columns: repeat(2, minmax(130px, 1fr));\n        }\n        .detail-grid {\n          grid-template-columns: 1fr;\n        }\n      }\n    </style>\n  </head>\n  <body>\n    <header class=\"topbar\">\n      <div class=\"brand\">\n        <span class=\"menu\">=</span><span>airframes - stream</span>\n      </div>\n      <div class=\"clock\" id=\"clock\"></div>\n    </header>\n    <main>\n      <h1>airframes - live and stored feed</h1>\n      <section class=\"stats\">\n        <div class=\"stat\"><b id=\"count\">0</b><span>rows loaded</span></div>\n        <div class=\"stat\"><b id=\"military\">0</b><span>military</span></div>\n        <div class=\"stat\"><b id=\"last\">-</b><span>latest UTC</span></div>\n        <div class=\"stat\"><b id=\"status\">loading</b><span>status</span></div>\n      </section>\n      <section class=\"controls\">\n        <input\n          id=\"q\"\n          placeholder=\"filter station, icao, tail, text...\"\n          size=\"42\"\n        />\n        <select id=\"mil\">\n          <option value=\"all\">all</option>\n          <option value=\"true\">military only</option>\n          <option value=\"false\">non-military</option>\n        </select>\n        <select id=\"limit\">\n          <option>100</option>\n          <option selected>250</option>\n          <option>500</option>\n          <option>1000</option>\n        </select>\n      </section>\n      <div class=\"table-wrap\">\n        <table>\n          <thead>\n            <tr>\n              <th>time</th>\n              <th>icao</th>\n              <th>call(s)</th>\n              <th>cc</th>\n              <th>source</th>\n              <th>tail</th>\n              <th>mil</th>\n              <th>text</th>\n              <th>details</th>\n            </tr>\n          </thead>\n          <tbody id=\"rows\"></tbody>\n        </table>\n      </div>\n    </main>\n    <div class=\"detail-overlay\" id=\"detailOverlay\" aria-hidden=\"true\">\n      <aside class=\"detail-panel\" aria-label=\"message details\">\n        <header class=\"detail-head\">\n          <div>\n            <h2 class=\"detail-title\" id=\"detailTitle\">message</h2>\n            <p class=\"detail-subtitle\" id=\"detailSubtitle\"></p>\n          </div>\n          <button class=\"close-btn\" type=\"button\" onclick=\"closeDetails()\">x</button>\n        </header>\n        <div class=\"detail-body\">\n          <section class=\"detail-grid\" id=\"detailGrid\"></section>\n          <section class=\"detail-section\">\n            <h3>message text</h3>\n            <pre class=\"message-text\" id=\"detailText\"></pre>\n          </section>\n          <section class=\"detail-section\">\n            <h3>raw json</h3>\n            <pre class=\"json-view\" id=\"detailJson\"></pre>\n          </section>\n        </div>\n      </aside>\n    </div>\n    <script>\n      const rowsEl = document.getElementById(\"rows\");\n      const qEl = document.getElementById(\"q\");\n      const milEl = document.getElementById(\"mil\");\n      const limitEl = document.getElementById(\"limit\");\n      const detailOverlay = document.getElementById(\"detailOverlay\");\n      const detailTitle = document.getElementById(\"detailTitle\");\n      const detailSubtitle = document.getElementById(\"detailSubtitle\");\n      const detailGrid = document.getElementById(\"detailGrid\");\n      const detailText = document.getElementById(\"detailText\");\n      const detailJson = document.getElementById(\"detailJson\");\n      let events = [];\n      function esc(v) {\n        return String(v ?? \"\").replace(\n          /[&<>\"']/g,\n          (c) =>\n            ({\n              \"&\": \"&amp;\",\n              \"<\": \"&lt;\",\n              \">\": \"&gt;\",\n              '\"': \"&quot;\",\n              \"'\": \"&#39;\",\n            })[c],\n        );\n      }\n      function shortTime(v) {\n        return String(v || \"\").replace(\"Z\", \"Z\");\n      }\n      function yesNo(v) {\n        return v === true\n          ? '<span class=\"badge y\">Y</span>'\n          : v === false\n            ? '<span class=\"badge\">N</span>'\n            : \"\";\n      }\n      function formatValue(v) {\n        if (v === null || v === undefined || v === \"\") return \"-\";\n        return String(v);\n      }\n      function detailField(label, value) {\n        return `<div class=\"detail-field\"><span>${esc(label)}</span><b>${esc(formatValue(value))}</b></div>`;\n      }\n      function eventTitle(e) {\n        return e.flight || e.tail || e.airframe_icao || e.id || \"message\";\n      }\n      function openDetails(index) {\n        const e = events[index];\n        if (!e) return;\n\n        const raw = e.raw || e;\n        detailTitle.textContent = eventTitle(e);\n        detailSubtitle.textContent = `${formatValue(e.timestamp)} · ${formatValue(e.station)} · ${formatValue(e.source || e.source_type)}`;\n        detailGrid.innerHTML = [\n          detailField(\"id\", e.id),\n          detailField(\"timestamp\", e.timestamp),\n          detailField(\"received\", e.received_at),\n          detailField(\"station\", e.station),\n          detailField(\"country\", e.country),\n          detailField(\"flight\", e.flight),\n          detailField(\"icao\", e.airframe_icao),\n          detailField(\"tail\", e.tail),\n          detailField(\"military\", e.military),\n          detailField(\"source\", e.source),\n          detailField(\"source type\", e.source_type),\n          detailField(\"frequency\", e.frequency),\n          detailField(\"label\", e.label),\n          detailField(\"mode\", e.mode),\n        ].join(\"\");\n        detailText.textContent = formatValue(e.text);\n        detailJson.textContent = JSON.stringify(raw, null, 2);\n        detailOverlay.classList.add(\"open\");\n      }\n      function closeDetails() {\n        detailOverlay.classList.remove(\"open\");\n      }\n      function keyText(e) {\n        return [\n          e.timestamp,\n          e.airframe_icao,\n          e.flight,\n          e.station,\n          e.country,\n          e.source,\n          e.source_type,\n          e.tail,\n          e.text,\n        ]\n          .join(\" \")\n          .toLowerCase();\n      }\n      function render() {\n        const q = qEl.value.trim().toLowerCase();\n        const mil = milEl.value;\n        const filtered = events.filter(\n          (e) =>\n            (!q || keyText(e).includes(q)) &&\n            (mil === \"all\" || String(e.military) === mil),\n        );\n        rowsEl.innerHTML = filtered\n          .map(\n            (e) => {\n              const index = events.indexOf(e);\n              return `<tr><td>${esc(shortTime(e.timestamp))}</td><td>${esc(e.airframe_icao)}</td><td>${esc(e.flight)}</td><td>${esc(e.country)}</td><td>${esc(e.source || e.source_type)}</td><td>${esc(e.tail)}</td><td>${yesNo(e.military)}</td><td class=\"text\">${esc(e.text)}</td><td><button class=\"detail-btn\" type=\"button\" data-index=\"${index}\">details</button></td></tr>`;\n            },\n          )\n          .join(\"\");\n        document.getElementById(\"count\").textContent = filtered.length;\n        document.getElementById(\"military\").textContent = events.filter(\n          (e) => e.military === true,\n        ).length;\n        document.getElementById(\"last\").textContent = events[0]?.timestamp\n          ? events[0].timestamp.slice(11, 19)\n          : \"-\";\n      }\n      async function load() {\n        try {\n          const res = await fetch(\n            `/airframes/events?limit=${encodeURIComponent(limitEl.value)}`,\n            { cache: \"no-store\" },\n          );\n          if (!res.ok) throw new Error(res.status + \" \" + res.statusText);\n          events = await res.json();\n          document.getElementById(\"status\").textContent = \"live\";\n          render();\n        } catch (err) {\n          document.getElementById(\"status\").textContent = \"error\";\n          console.error(err);\n        }\n      }\n      function tick() {\n        document.getElementById(\"clock\").textContent =\n          \"UTC \" +\n          new Date().toISOString().replace(\"T\", \" \").slice(11, 19) +\n          \" \" +\n          new Date().toISOString().slice(0, 10);\n      }\n      qEl.addEventListener(\"input\", render);\n      milEl.addEventListener(\"change\", render);\n      limitEl.addEventListener(\"change\", load);\n      rowsEl.addEventListener(\"click\", (event) => {\n        const button = event.target.closest(\".detail-btn\");\n        if (!button) return;\n        openDetails(Number(button.dataset.index));\n      });\n      detailOverlay.addEventListener(\"click\", (event) => {\n        if (event.target === detailOverlay) closeDetails();\n      });\n      document.addEventListener(\"keydown\", (event) => {\n        if (event.key === \"Escape\") closeDetails();\n      });\n      setInterval(load, 3000);\n      setInterval(tick, 1000);\n      tick();\n      load();\n    </script>\n  </body>\n</html>\n",
    "output": "str",
    "x": 430,
    "y": 250,
    "wires": [
      [
        "airframes-dashboard-response"
      ]
    ]
  },
  {
    "id": "airframes-dashboard-response",
    "type": "http response",
    "z": "airframes-tab",
    "name": "Dashboard response",
    "statusCode": "200",
    "headers": {
      "content-type": "text/html; charset=utf-8"
    },
    "x": 710,
    "y": 250,
    "wires": []
  },
  {
    "id": "airframes-events-in",
    "type": "http in",
    "z": "airframes-tab",
    "name": "GET /airframes/events",
    "url": "/airframes/events",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "airframes-file-in"
      ]
    ]
  },
  {
    "id": "airframes-file-in",
    "type": "file in",
    "z": "airframes-tab",
    "name": "Read JSONL",
    "filename": "/mnt/ssl/acars",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": true,
    "encoding": "none",
    "allProps": false,
    "x": 360,
    "y": 360,
    "wires": [
      [
        "airframes-events-build"
      ]
    ]
  },
  {
    "id": "airframes-events-build",
    "type": "function",
    "z": "airframes-tab",
    "name": "Build events JSON",
    "func": "function normalize(record) {\n    if (!record || typeof record !== \"object\") {\n        return null;\n    }\n\n    if (record.raw || record.received_at || record.airframe_icao) {\n        return record;\n    }\n\n    const flight = record.flight || {};\n    const airframe = record.airframe || {};\n    const station = record.station || {};\n\n    return {\n        received_at: record.received_at,\n        id: record.id,\n        timestamp: record.timestamp || record.created_at,\n        station: station.ident,\n        country: station.country_code,\n        flight: flight.flight_iata || flight.flight_icao || flight.flight,\n        airframe_icao: airframe.icao,\n        tail: airframe.tail || record.tail,\n        military: airframe.military,\n        source: record.source,\n        source_type: record.source_type,\n        frequency: record.frequency,\n        label: record.label,\n        mode: record.mode,\n        text: record.text,\n        raw: record\n    };\n}\n\nconst limit = Math.max(1, Math.min(parseInt(msg.req?.query?.limit || \"250\", 10) || 250, 2000));\nconst lines = String(msg.payload || \"\").split(/\\r?\\n/).filter(Boolean);\nconst stored = [];\n\nfor (let i = lines.length - 1; i >= 0 && stored.length < limit; i--) {\n    try {\n        const parsed = normalize(JSON.parse(lines[i]));\n        if (parsed) {\n            stored.push(parsed);\n        }\n    } catch (err) {\n        // Ignore old non-JSON lines.\n    }\n}\n\nconst recent = flow.get(\"airframes_recent\") || [];\nconst byId = new Map();\nfor (const event of [...recent, ...stored]) {\n    const key = event.id || `${event.timestamp}-${event.station}-${event.text}`;\n    if (!byId.has(key)) {\n        byId.set(key, event);\n    }\n}\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\", \"cache-control\": \"no-store\" };\nmsg.payload = JSON.stringify([...byId.values()].slice(0, limit));\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 360,
    "wires": [
      [
        "airframes-events-response"
      ]
    ]
  },
  {
    "id": "airframes-events-response",
    "type": "http response",
    "z": "airframes-tab",
    "name": "Events response",
    "statusCode": "200",
    "headers": {},
    "x": 800,
    "y": 360,
    "wires": []
  }
]
