node-red-airframes-flow.json
[
  {
    "id": "airframes-tab",
    "type": "tab",
    "label": "Airframes Stream",
    "disabled": false,
    "info": "Receives JSON events from socket_client.py via HTTP POST /airframes. Dashboard: https://orange.prefix64.org:1880/airframes-dashboard"
  },
  {
    "id": "airframes-http-in",
    "type": "http in",
    "z": "airframes-tab",
    "name": "POST /airframes",
    "url": "/airframes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 90,
    "wires": [
      [
        "airframes-json"
      ]
    ]
  },
  {
    "id": "airframes-json",
    "type": "json",
    "z": "airframes-tab",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 320,
    "y": 90,
    "wires": [
      [
        "airframes-normalize"
      ]
    ]
  },
  {
    "id": "airframes-normalize",
    "type": "function",
    "z": "airframes-tab",
    "name": "Normalize, cache and route",
    "func": "function looksLikeAirframesEvent(value) {\n    return value && typeof value === \"object\" && (\n        value.id || value.timestamp || value.station || value.airframe || value.source\n    );\n}\n\nfunction extractEvent(value) {\n    if (!value || typeof value !== \"object\") {\n        return {};\n    }\n\n    if (looksLikeAirframesEvent(value)) {\n        return value;\n    }\n\n    for (const key of [\"payload\", \"event\", \"message\", \"data\"]) {\n        if (looksLikeAirframesEvent(value[key])) {\n            return value[key];\n        }\n    }\n\n    return value;\n}\n\nconst envelope = msg.payload || {};\nconst event = extractEvent(envelope);\nconst flight = event.flight || {};\nconst airframe = event.airframe || {};\nconst station = event.station || {};\nconst now = new Date().toISOString();\n\nconst normalized = {\n    received_at: now,\n    id: event.id,\n    timestamp: event.timestamp || event.created_at || now,\n    station: station.ident,\n    country: station.country_code,\n    flight: flight.flight_iata || flight.flight_icao || flight.flight,\n    airframe_icao: airframe.icao,\n    tail: airframe.tail || event.tail,\n    military: airframe.military,\n    source: event.source,\n    source_type: event.source_type,\n    frequency: event.frequency,\n    label: event.label,\n    mode: event.mode,\n    text: event.text,\n    raw: event\n};\n\nlet recent = flow.get(\"airframes_recent\") || [];\nrecent.unshift(normalized);\nrecent = recent.slice(0, 500);\nflow.set(\"airframes_recent\", recent);\n\nconst debugMsg = { payload: normalized };\nconst fileMsg = { payload: JSON.stringify(normalized) };\nconst responseMsg = {\n    req: msg.req,\n    res: msg.res,\n    statusCode: 200,\n    headers: { \"content-type\": \"application/json\" },\n    payload: { ok: true, id: normalized.id, received_at: normalized.received_at }\n};\n\nreturn [debugMsg, fileMsg, responseMsg];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 90,
    "wires": [
      [
        "airframes-debug"
      ],
      [
        "airframes-file"
      ],
      [
        "airframes-response"
      ]
    ]
  },
  {
    "id": "airframes-debug",
    "type": "debug",
    "z": "airframes-tab",
    "name": "Airframes event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 40,
    "wires": []
  },
  {
    "id": "airframes-file",
    "type": "file",
    "z": "airframes-tab",
    "name": "Append JSONL",
    "filename": "/mnt/ssl/acars",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 840,
    "y": 90,
    "wires": [
      []
    ]
  },
  {
    "id": "airframes-response",
    "type": "http response",
    "z": "airframes-tab",
    "name": "200 OK",
    "statusCode": "",
    "headers": {},
    "x": 820,
    "y": 140,
    "wires": []
  },
  {
    "id": "airframes-dashboard-in",
    "type": "http in",
    "z": "airframes-tab",
    "name": "GET /airframes-dashboard",
    "url": "/airframes-dashboard",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 250,
    "wires": [
      [
        "airframes-dashboard-template"
      ]
    ]
  },
  {
    "id": "airframes-dashboard-template",
    "type": "template",
    "z": "airframes-tab",
    "name": "Dashboard HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!doctype html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<title>airframes stream</title>\n<style>\n:root { --red:#760000; --bg:#002b00; --bg2:#003f00; --row:#003700; --row2:#004900; --head:#d8e1df; --text:#f4fff4; --muted:#aac0aa; --link:#23a4ff; }\n* { box-sizing:border-box; }\nbody { margin:0; background:var(--bg); color:var(--text); font:15px/1.35 ui-monospace, SFMono-Regular, Menlo, Consolas, \"Liberation Mono\", monospace; }\n.topbar { height:64px; background:var(--red); display:flex; align-items:center; justify-content:space-between; padding:0 18px; border-bottom:4px solid #1b1b1b; white-space:nowrap; overflow:hidden; }\n.brand { display:flex; align-items:center; gap:22px; font-size:18px; font-weight:700; }\n.menu { font-size:28px; line-height:1; }\n.clock { font-size:16px; }\nmain { padding:16px 28px 28px; }\nh1 { margin:0 0 14px; font-size:20px; font-weight:700; color:#fff; }\n.stats { display:flex; gap:10px; flex-wrap:wrap; margin:0 0 14px; }\n.stat { background:#063f06; border:1px solid #0b5c0b; padding:8px 12px; min-width:120px; }\n.stat b { display:block; font-size:18px; color:#fff; }\n.stat span { color:var(--muted); font-size:12px; }\n.controls { display:flex; gap:10px; flex-wrap:wrap; margin:0 0 12px; }\n.controls input, .controls select { background:#001d00; color:#fff; border:1px solid #2d702d; padding:8px 10px; font:inherit; }\n.table-wrap { width:100%; overflow:auto; border-top:1px solid #126412; }\ntable { width:100%; border-collapse:collapse; min-width:1180px; }\nthead th { background:var(--head); color:#314039; text-align:left; padding:6px 10px; font-size:13px; position:sticky; top:0; z-index:2; }\ntbody tr:nth-child(odd) { background:var(--row); }\ntbody tr:nth-child(even) { background:var(--row2); }\ntd { padding:8px 10px; vertical-align:top; white-space:nowrap; }\ntd.text { white-space:normal; min-width:320px; max-width:520px; }\na { color:var(--link); }\n.badge { color:#fff; background:#7a4b00; padding:2px 6px; border-radius:2px; }\n.badge.y { background:#a00000; }\n.muted { color:var(--muted); }\n@media (max-width: 900px) { main { padding:12px; } .topbar { height:54px; padding:0 12px; } .clock { display:none; } table { min-width:980px; font-size:13px; } }\n</style>\n</head>\n<body>\n<header class=\"topbar\"><div class=\"brand\"><span class=\"menu\">=</span><span>airframes - stream</span></div><div class=\"clock\" id=\"clock\"></div></header>\n<main>\n<h1>airframes - live and stored feed</h1>\n<section class=\"stats\">\n  <div class=\"stat\"><b id=\"count\">0</b><span>rows loaded</span></div>\n  <div class=\"stat\"><b id=\"military\">0</b><span>military</span></div>\n  <div class=\"stat\"><b id=\"last\">-</b><span>latest UTC</span></div>\n  <div class=\"stat\"><b id=\"status\">loading</b><span>status</span></div>\n</section>\n<section class=\"controls\">\n  <input id=\"q\" placeholder=\"filter station, icao, tail, text...\" size=\"42\">\n  <select id=\"mil\"><option value=\"all\">all</option><option value=\"true\">military only</option><option value=\"false\">non-military</option></select>\n  <select id=\"limit\"><option>100</option><option selected>250</option><option>500</option><option>1000</option></select>\n</section>\n<div class=\"table-wrap\"><table>\n<thead><tr><th>time</th><th>icao</th><th>call(s)</th><th>station</th><th>cc</th><th>source</th><th>freq</th><th>tail</th><th>mil</th><th>text</th></tr></thead>\n<tbody id=\"rows\"></tbody>\n</table></div>\n</main>\n<script>\nconst rowsEl = document.getElementById('rows');\nconst qEl = document.getElementById('q');\nconst milEl = document.getElementById('mil');\nconst limitEl = document.getElementById('limit');\nlet events = [];\nfunction esc(v) { return String(v ?? '').replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c])); }\nfunction shortTime(v) { return String(v || '').replace('Z','Z'); }\nfunction yesNo(v) { return v === true ? '<span class=\"badge y\">Y</span>' : v === false ? '<span class=\"badge\">N</span>' : ''; }\nfunction keyText(e) { return [e.timestamp,e.airframe_icao,e.flight,e.station,e.country,e.source,e.source_type,e.tail,e.text].join(' ').toLowerCase(); }\nfunction render() {\n  const q = qEl.value.trim().toLowerCase();\n  const mil = milEl.value;\n  const filtered = events.filter(e => (!q || keyText(e).includes(q)) && (mil === 'all' || String(e.military) === mil));\n  rowsEl.innerHTML = filtered.map(e => `<tr><td>${esc(shortTime(e.timestamp))}</td><td>${esc(e.airframe_icao)}</td><td>${esc(e.flight)}</td><td>${esc(e.station)}</td><td>${esc(e.country)}</td><td>${esc(e.source || e.source_type)}</td><td>${esc(e.frequency)}</td><td>${esc(e.tail)}</td><td>${yesNo(e.military)}</td><td class=\"text\">${esc(e.text)}</td></tr>`).join('');\n  document.getElementById('count').textContent = filtered.length;\n  document.getElementById('military').textContent = events.filter(e => e.military === true).length;\n  document.getElementById('last').textContent = events[0]?.timestamp ? events[0].timestamp.slice(11,19) : '-';\n}\nasync function load() {\n  try {\n    const res = await fetch(`/airframes/events?limit=${encodeURIComponent(limitEl.value)}`, { cache:'no-store' });\n    if (!res.ok) throw new Error(res.status + ' ' + res.statusText);\n    events = await res.json();\n    document.getElementById('status').textContent = 'live';\n    render();\n  } catch (err) {\n    document.getElementById('status').textContent = 'error';\n    console.error(err);\n  }\n}\nfunction tick() { document.getElementById('clock').textContent = 'UTC ' + new Date().toISOString().replace('T',' ').slice(11,19) + ' ' + new Date().toISOString().slice(0,10); }\nqEl.addEventListener('input', render); milEl.addEventListener('change', render); limitEl.addEventListener('change', load);\nsetInterval(load, 3000); setInterval(tick, 1000); tick(); load();\n</script>\n</body>\n</html>",
    "output": "str",
    "x": 430,
    "y": 250,
    "wires": [
      [
        "airframes-dashboard-response"
      ]
    ]
  },
  {
    "id": "airframes-dashboard-response",
    "type": "http response",
    "z": "airframes-tab",
    "name": "Dashboard response",
    "statusCode": "200",
    "headers": {
      "content-type": "text/html; charset=utf-8"
    },
    "x": 710,
    "y": 250,
    "wires": []
  },
  {
    "id": "airframes-events-in",
    "type": "http in",
    "z": "airframes-tab",
    "name": "GET /airframes/events",
    "url": "/airframes/events",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "airframes-file-in"
      ]
    ]
  },
  {
    "id": "airframes-file-in",
    "type": "file in",
    "z": "airframes-tab",
    "name": "Read JSONL",
    "filename": "/mnt/ssl/acars",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": true,
    "encoding": "none",
    "allProps": false,
    "x": 360,
    "y": 360,
    "wires": [
      [
        "airframes-events-build"
      ]
    ]
  },
  {
    "id": "airframes-events-build",
    "type": "function",
    "z": "airframes-tab",
    "name": "Build events JSON",
    "func": "function normalize(record) {\n    if (!record || typeof record !== \"object\") {\n        return null;\n    }\n\n    if (record.raw || record.received_at || record.airframe_icao) {\n        return record;\n    }\n\n    const flight = record.flight || {};\n    const airframe = record.airframe || {};\n    const station = record.station || {};\n\n    return {\n        received_at: record.received_at,\n        id: record.id,\n        timestamp: record.timestamp || record.created_at,\n        station: station.ident,\n        country: station.country_code,\n        flight: flight.flight_iata || flight.flight_icao || flight.flight,\n        airframe_icao: airframe.icao,\n        tail: airframe.tail || record.tail,\n        military: airframe.military,\n        source: record.source,\n        source_type: record.source_type,\n        frequency: record.frequency,\n        label: record.label,\n        mode: record.mode,\n        text: record.text,\n        raw: record\n    };\n}\n\nconst limit = Math.max(1, Math.min(parseInt(msg.req?.query?.limit || \"250\", 10) || 250, 2000));\nconst lines = String(msg.payload || \"\").split(/\\r?\\n/).filter(Boolean);\nconst stored = [];\n\nfor (let i = lines.length - 1; i >= 0 && stored.length < limit; i--) {\n    try {\n        const parsed = normalize(JSON.parse(lines[i]));\n        if (parsed) {\n            stored.push(parsed);\n        }\n    } catch (err) {\n        // Ignore old non-JSON lines.\n    }\n}\n\nconst recent = flow.get(\"airframes_recent\") || [];\nconst byId = new Map();\nfor (const event of [...recent, ...stored]) {\n    const key = event.id || `${event.timestamp}-${event.station}-${event.text}`;\n    if (!byId.has(key)) {\n        byId.set(key, event);\n    }\n}\n\nmsg.headers = { \"content-type\": \"application/json; charset=utf-8\", \"cache-control\": \"no-store\" };\nmsg.payload = JSON.stringify([...byId.values()].slice(0, limit));\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 360,
    "wires": [
      [
        "airframes-events-response"
      ]
    ]
  },
  {
    "id": "airframes-events-response",
    "type": "http response",
    "z": "airframes-tab",
    "name": "Events response",
    "statusCode": "200",
    "headers": {},
    "x": 800,
    "y": 360,
    "wires": []
  }
]
